@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="row-fluid">
    <div class="span2">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Frontend</li>
                <li class="active"><a href="#">HTML 4.01</a></li>
                <li><a href="#">HTML5</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">Twitter Bootstrap</a></li>
                <li><a href="#">Firebug</a></li>
                <li class="nav-header">Backend</li>
                <li><a href="#">PHP</a></li>
                <li><a href="#">SQL</a></li>
                <li><a href="#">MySQL</a></li>
                <li><a href="#">PostgreSQL</a></li>
                <li><a href="#">MongoDB</a></li>
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!--/span-->
    <div class="span10">
        <h2>About</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id est quis lorem porttitor posuere ac sit amet enim. Aliquam ut tellus sed mi gravida congue eget vel elit. Cras velit tellus, tincidunt congue iaculis vitae, adipiscing in neque. Nunc sit amet felis quis nulla ornare consectetur. Nulla auctor gravida justo, at vestibulum felis tempus quis. Nullam scelerisque suscipit tellus, egestas commodo metus lobortis tincidunt. Aliquam leo dolor, blandit vestibulum aliquet sed, placerat vitae mauris. Sed odio dolor, placerat vitae laoreet eget, suscipit in velit. Suspendisse mi augue, elementum quis scelerisque id, congue et elit. Phasellus a neque dolor, quis malesuada diam. Proin egestas, nisi sed pulvinar tincidunt, sem sapien faucibus elit, ut malesuada augue neque at leo. Praesent bibendum lectus at risus euismod vestibulum. Aenean turpis orci, hendrerit aliquam venenatis eget, laoreet non libero. Nulla quis nisi quis nulla vulputate sodales nec ut quam.</p>
        <p>Nullam eget nulla odio. Quisque vel turpis urna. Phasellus id tincidunt dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec magna tortor, sed sodales sapien. Aenean mollis metus et nisi varius vitae tincidunt lectus cursus. Phasellus semper magna a turpis sollicitudin placerat. Aliquam dui dolor, aliquam non elementum ut, viverra eget ante.</p>
        <p>Vestibulum ac nisi dolor. Curabitur mollis mattis nisl, vel tempor risus convallis eget. Quisque pulvinar, lacus quis facilisis ultricies, purus diam cursus libero, sed iaculis nisl libero ac enim. Nullam eget sem ullamcorper tellus dignissim mattis non eget elit. Cras neque ipsum, faucibus at viverra ac, ornare eget felis. Aliquam quis mi quam, non placerat urna. Cras nec pulvinar felis. Phasellus condimentum dapibus tellus, vel suscipit diam convallis molestie. Praesent ante erat, eleifend vitae molestie id, porta eu augue.</p>
        <p>Nunc in leo vitae risus tincidunt aliquam nec vitae nibh. Sed vulputate dictum sagittis. Sed ligula sem, laoreet ac sollicitudin quis, placerat eu leo. Sed ut dui eros, a tincidunt ligula. Ut dignissim metus ut dui tincidunt feugiat in consequat elit. Vivamus ac dui nisl, vel imperdiet odio. Aliquam nec gravida metus. Vestibulum faucibus nisi est. Duis interdum porttitor nulla ut dignissim. In fringilla erat fringilla lacus lacinia eu placerat eros fermentum. Praesent molestie vehicula lorem et imperdiet. Etiam vitae massa nisl, quis porttitor dui. Sed congue eros at turpis vulputate in consectetur tellus egestas. Nam pharetra, massa eu sollicitudin faucibus, arcu purus volutpat sem, non vestibulum nisl odio vitae est. Morbi non turpis ipsum, quis auctor lectus. Integer nec quam quis tortor ullamcorper pulvinar vel quis ipsum.</p>
        <p>Aliquam dapibus, velit nec blandit euismod, nisi ante volutpat nisl, eget tristique neque leo a sapien. Donec lacus risus, pellentesque id viverra ac, hendrerit sed quam. Quisque in massa metus. Sed nisi arcu, pellentesque eget luctus et, rutrum at erat. Ut quis dui sed felis scelerisque dictum. Aenean posuere, mauris et adipiscing sagittis, neque mi dapibus odio, pharetra convallis massa leo semper elit. Donec tincidunt iaculis porta. Etiam at tincidunt nibh. Fusce vehicula leo non magna laoreet ullamcorper. Nullam vestibulum nulla quis magna blandit pharetra. Morbi ac lectus risus. Etiam quis mi vitae nunc egestas accumsan a quis nibh.</p>

        <h1>This is heading 1 / H1</h1>
        <h2>This is heading 2 / H2</h2>
        <h3>This is heading 3 / H3</h3>
        <h4>This is heading 4 / H4</h4>
        <h5>This is heading 5 / H6</h5>
        <h6>This is heading 6 / H6</h6>
        <p>This is text wrapped in paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>This is an example of using <strong>Strong</strong> in text.</p>
        <p>This is an example of using <em>emphasis</em> in text.</p>
        <p>Headquarters of the
            <abbr title="United Nations">UN</abbr>
            is in Geneva, Austria.</p>
        <!-- this is how address is used -->
        <address>
            <strong>w3resource</strong><br>
            21 Ramkrishna Road<br>
            Burdwan, WB 713101<br>
        </address>
        <!-- this is how blockquote is used -->
        <blockquote>
            <p>You can't say A is made of B or vice versa. All mass is interaction.</p>
            <small>Statement titled "Principles" (c. 1950), quoted in Genius : The Life and Science of Richard Feynman (1992) by James Gleick</small>
        </blockquote>
        <h3>This is an unordered list</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>DataBases  
          <ul>
              <li>MySQL</li>
              <li>POstgreSQL</li>
              <li>MS SQL Server</li>
          </ul>
            </li>
            <li>Tools and APIs</li>
            <li>JOSN</li>
            <li>C Language</li>
        </ul>
        <h3>This is an unordered list but styles removed</h3>
        <ul class="unstyled">
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>DataBases  
          <ul class="unstyled">
              <li>MySQL</li>
              <li>POstgreSQL</li>
              <li>MS SQL Server</li>
          </ul>
            </li>
            <li>Tools and APIs</li>
            <li>JOSN</li>
            <li>C Language</li>
        </ul>
        <h3>This is an ordered list</h3>
        <ol>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li>DataBases  
          <ul class="unstyled">
              <li>MySQL</li>
              <li>PostgreSQL</li>
              <li>MS SQL Server</li>
          </ul>
            </li>
            <li>Tools and APIs</li>
            <li>JOSN</li>
            <li>C Language</li>
        </ol>
        <h3>Description list</h3>
        <dl>
            <dt>Ten years ago</dt>
            <dd>a crack commando unit was sent to prison</dd>
            <dt>by a military court </dt>
            <dd>for a crime they didn't commit.</dd>
            <dd>These men promptly escaped from.</dd>
            <dt>a maximum security stockade to the Los Angeles underground.</dt>
            <dd>Today, still wanted by the government, they survive as soldiers of fortune.</dd>
        </dl>
        <h3>Horizontal Description list</h3>
        <dl class="dl-horizontal">
            <dt>Ten years ago</dt>
            <dd>a crack commando unit was sent to prison</dd>
            <dt>by a military court </dt>
            <dd>for a crime they didn't commit.</dd>
            <dd>These men promptly escaped from.</dd>
            <dt>a maximum security stockade to the Los Angeles underground.</dt>
            <dd>Today, still wanted by the government, they survive as soldiers of fortune.</dd>
        </dl>



        @*one column grid*@
        <div class="row">
            <div class="span10">inline elements like span, block level elements like p, div.</div>
        </div>
        <div class="row">
            <div class="span6">inline elements like span, block level elements like p, div.</div>
            <div class="span6">inline elements like span, block level elements like p, div.</div>
        </div>
        <div class="row">
            <div class="span3">inline elements like span, block level elements like p, div.</div>
            <div class="span3">inline elements like span, block level elements like p, div.</div>
            <div class="span3">inline elements like span, block level elements like p, div.</div>
        </div>
    </div>




@*<div class="container">
    <div class="row">
        <div class="span12">
            <h1>w3resource.com is a web design and development tutorial.</h1>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <p>
                <img src="/images/w3logo6.png" width="149" height="52" alt="w3resource logo" /></p>
        </div>
        <div class="span9">
            <p>w3resource offers web development tutorials. We believe in Open Source. Love standards. And prioritize simplicity and readability while serving content. With 3000+ unique content pages and thousands of examples, we are comprehensive. We have online practice editors to play around with the example codes.</p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Some of the topics and more... :</h3>
        </div>
        <div class="span2">
            <p>
                <img src="images/html5_logo.png" width="140" height="86" alt="html5 logo" /></p>
        </div>
        <div class="span2">
            <p>
                <img src="images/javascript-logo.png" width="140" height="86" alt="javascript logo" /></p>
        </div>
        <div class="span2">
            <p>
                <img src="images/json.gif" width="140" height="86" alt="JSON logo" /></p>
        </div>
        <div class="span2">
            <p>
                <img src="images/php.png" width="140" height="86" alt="PHP logo" /></p>
        </div>
        <div class="span2">
            <p>
                <img src="images/mysql-logo.png" width="140" height="86" alt="MySQL logo" /></p>
        </div>
        <div class="span2">
            <p>
                <img src="images/browser-statistics.png" width="140" height="86" alt="Browser Statistics logo" /></p>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h3>Social networking sites to share:</h3>
        </div>
    </div>
    <div class="row">
        <div class="span1">
            <p>
                <img src="images/gplus.png" width="50" height="49" alt="GPlus logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/twitter.png" width="50" height="38" alt="Twitter logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/orkut.png" width="50" height="55" alt="Orkut logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/ipad.png" width="50" height="53" alt="iPad logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/digo.png" width="50" height="54" alt="Digo logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/zapface.png" width="51" height="53" alt="Zapface logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/facebook.png" width="48" height="53" alt="facebook logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/netvibes.png" width="51" height="53" alt="Netvibes logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/linkedin.png" width="49" height="54" alt="LinkedIn logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/newsvine.png" width="48" height="53" alt="Newsvine logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/blogger.png" width="51" height="53" alt="Blogger logo" /></p>
        </div>
        <div class="span1">
            <p>
                <img src="images/reditt.png" width="48" height="57" alt="Reddit logo" /></p>
        </div>
    </div>
    <div class="row">
        <div class="span3">
            <h3>Fontend Development:</h3>
            <p>HTML4.0, XHTML1.0, CSS2.1, HTML5, CSS3, JavaScript</p>
        </div>
        <div class="span3">
            <h3>Backend Developemt:</h3>
            <p>PHP, Ruby, Python, Java, ASP.NET, SCALA</p>
        </div>
        <div class="span3">
            <h3>Database Management:</h3>
            <p>SQL, MySQL POstgreSQL, NoSQL, MongoDB</p>
        </div>
        <div class="span3">
            <h3>APIs, Tools and Tips:</h3>
            <p>Google Plus API, Twitter Bootstrap, JSON, Firebug, WebPNG</p>
        </div>
    </div>
</div>*@

@*<div class="leaderboard">
    <h1>w3resource Web Store</h1>
    <p>Try and purchase HTML5, JS, Ruby, PHP-MySQL based web apps to enhance your productivity at affordable price.</p>
    <p><a class="btn btn-success btn-large">Sign Up for a 30 day free trial</a></p>
</div>
<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>HTML5 and JS Apps</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-success btn-large" href="#">View apps</a></p>
    </div>
    <div class="span4">
        <h2>Ruby Apps</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-success btn-large" href="#">View apps</a></p>
    </div>
    <div class="span4">
        <h2>PHP MySQL Apps</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-success btn-large" href="#">View apps</a></p>
    </div>
</div>*@
