@{
    ViewBag.Title = "Alumnus";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="container" style="width:1100px">
    
    <h2 align="center">成都聚会</h2>

    <ul id="pics">
        <li><a id="pic1"  target="_blank" style="width:250px; height: 200px"></a>
        <li><a id="pic2"  target="_blank" style="width:600px; height: 200px"></a>
        <li><a id="pic3"  target="_blank" style="width:250px; height: 200px"></a>
        <hr/>
        <li><a id="pic4"  target="_blank" style="width:300px; height: 200px"></a>
        <li><a id="pic5"  target="_blank" style="width:500px; height: 200px"></a>
        <li><a id="pic6"  target="_blank" style="width:300px; height: 200px"></a>
        </li>
    </ul>
</div>



