@using MvcApplication.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_master.cshtml";
}

<div class="container-fluid">

    <p>芳草地软件编辑室从事茧丝绸行业的经营管理.生产管理.工资管理等专业软件编制。以完善服务及优质产品获您满意,热诚欢迎光临！</p>
    <h3 align="center">软件简介</h3>
    <p>
        《茧丝绸企业信息化管理系统》是鑫缘蚕丝绸集团股份有限公司控股企业海安县鑫缘制丝有限责任公司与苏州大学联合开发的为茧丝绸企业编制的通用型软件系统。
二○○四年通过鉴定，二○○八年获中国纺织工业协会科学技术进步二等奖。本软件已在江苏、浙江、安徽、四川、广东、广西 、山东等二十多家著名企业推广应用。
    </p>

    <h3 align="center">荣誉证书</h3>

    <div class="container-fluid" align="center">
        <!-- Carousel ================================================== -->
        <div id="myCarousel" class="carousel slide" style="width: 60%;">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/img/cet/fcd1.jpg" />
                </div>
                <div class="item">
                    <img src="~/img/cet/fcd2.jpg" />
                </div>
                <div class="item">
                    <div>
                        <img src="~/img/cet/001_1.jpg" />
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/cet/002_1.jpg" />
                </div>
                <div class="item">
                    <img src="~/img/cet/003_1.jpg" />
                </div>
                <div class="item">
                    <img src="~/img/cet/004_1.jpg" />
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
        <!-- /.carousel -->
    </div>
    <script>
        !function ($) {
            $(function () {
                // carousel demo
                $('#myCarousel').carousel({ interval: 2000 });
            })
        }(window.jQuery)
    </script>
</div>

